<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=localhost;Database=LAB12;Trusted_Connection=True;Encrypt=false"/>
		<add key="Server" value="localhost"/>
		<add key="Database" value="LAB12"/>
		<add key="Trusted_Connection" value="True" />
		<add key="Encrypt" value="false"/>
	</appSettings>
</configuration>